<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark " id="sidebar" style="width: 240px;">
  <a href="/" class="d-flex align-items-center me-auto text-white text-decoration-none">
    <i class="bi bi-stack fs-4 me-3"></i>
    <span class="fs-4">MS2DB</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/" class="nav-link active">
        <i class="bi bi-house-door me-2"></i>
        Home
      </a>
    </li>
    <li>
      <a href="/test" class="nav-link text-white">
        <i class="bi bi-gift me-2"></i>
        Test
      </a>
    </li>
  </ul>
</div>